

body{
	background-color: rgba(112, 183, 201, 0.418);
	margin: 2%;
	
}
a{
	color: black;
}
a:visited{
	color: rgb(106, 34, 148);
}
a:link{
	color: rgb(0, 0, 0);
}
a:hover{
	color: rgb(251, 189, 21);
}



h1 { font-family: "Dejavu Sans"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; } 
h2 { font-family: "Dejavu Sans"; font-size: 20px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; } 
h3 { font-family: "Dejavu Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 15px; } 
p { font-family: "Dejavu Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

.centered{
	display: block;
	margin: 0 auto;
}

header img{
	max-height: 10vh;
}
header h1{
	font-size: 2.2em;
	line-height: normal;

}

.nav ul{
	display: inline-block;
	width: 100%;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 8px;
	overflow: hidden;
	background-color: rgb(50, 118, 134);
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.288);
	

}
.nav li{
	display: inline-block;
	text-align: center;
	font-weight: 400;
	font-size: 1.1em;

}

.nav a{
	display: block;
	color: white;
	padding: 8px 35px 8px 30px;

}
#home{
	font-size: 1.5em;
	font-weight: 500;
	border-right: 2px solid white;
	border-left: 2px solid white;
	

}

.nav a:hover{
	background-color: rgb(251, 189, 21);
	color: rgb(136, 40, 40);
	text-decoration: none;
	
}
a:link{
	text-decoration: none;
}


.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: auto;
}
.flex-container div{
	max-width: 25%;

	background: rgba(255, 255, 255, 0.3);
	border: solid 1px black;
	padding: 8px;
	margin: 20px;
}
.flex-container img{
object-fit:cover;
  background-size:cover;
  background-position:center;
	
}

.about{
	padding-bottom: 10px;
}
.descript{
	padding: 30px;
	padding-top: 10px;
}
.squared img{
	background: 50% 50%;
	width: 23.5vw;
	height: 24.5vw;

}

.center{
	text-align: center;
}




footer{
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(163, 193, 211, 0.726);
	padding: 10px;
	padding-left: 20px;
}

footer a:visited{
	color: rgb(62, 15, 105);
}
footer a:link{
	color: black;
}
footer a:hover{
	color: rgb(251, 189, 21);
}

.active{
	background-color: rgba(0, 255, 255, 0.123);
	
}

.resources a{
	display: block;
}
.resources a:hover{
	background-color: rgba(21, 178, 251, 0.452);
	padding: 15px;
	color: black;
}

table{
	display: table;
	margin: 50px;
	margin-top: 30px;
	background-color: aliceblue;
	border-spacing: 5px;
	width: 90%;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.507);
	border-color: black;
	border-collapse: collapse;
}

th, td{
	border-top: 3px solid rgb(112, 183, 201, 0.418);
	padding: 20px;
	max-width: 600px;
	

}
th{
	font-size: 1.2em;
	border-bottom: 5px solid rgb(112, 183, 201, 0.418);
}

#event{
	margin-top: 25px;

}
