/*

#A1A0A0 grey
#7A8591 blue grey
RGB 122, 133, 145
#36918B bright blue
RGB 54, 145, 139
#8F897F wet concrete
#445749 emboldened green


*/


body{
	background-color: rgba(15, 136, 163, 0.418);
	
}


h1 { font-family: "Dejavu Sans"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; } 
h2 { font-family: "Dejavu Sans"; font-size: 20px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 20px; } 
h3 { font-family: "Dejavu Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 15px; } 
p { font-family: "Dejavu Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: "Dejavu Sans"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: "Dejavu Sans"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18px; }




.nav{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden; 
	background-color: rbga(77,230,200,.58);
	
}
.nav li{
float: left;
padding: 10px;
font-size: 1em;
border: solid 1px rgb(0, 0, 0);
list-style-type: none;
background-color: rgb(255, 255, 255);
color: black;
}
	
.nav li a{
	text-decoration: none;
	font-weight: bold;
	display: box;
	padding-left: 10px;
	padding-right: 10px;

}
a:hover{
	background-color: rgba(172, 172, 172, 0.99);
	
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: auto;
}
.flex-container div{
	max-width: 25%;

	background: rgba(255, 255, 255, 0.3);
	border: solid 1px black;
	padding: 8px;
	margin: 20px;
}
.flex-container img{
object-fit:cover;
width:100px;
  height: 100px;
 
  background-size:cover;
  background-position:center;
	
}
.squared img{
	background: 50% 50%;
	width: 24.5vw;
	height: 24.5vw;
}

.center{
	text-align: center;
}